<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vb;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'edit_details' s.id %}" style="text-align: center;" method="post">
        {% csrf_token %}


        <h1 style="color: rgb(242, 160, 9);">STUDENT DETAILS</h1>
        <label for="" style="background-color: rgb(238, 82, 9);" >Student Name</label>
        <input type="text" name="s_name" value="{{s.student_name}}">
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Address</Address></label>
        <textarea name="add" id="">{{s.address}}</textarea>
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Age</label>
        <input type="text" name="age" value="{{s.age}}">
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Email</label>
        <input type="text" name="email" value="{{s.email}}">
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Joining Date</label>
        <input type="date" name="jd" value="{{s.joiningdate|date:'Y-m-d'}}">
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Gender</label>
        <label for="male">Male</label>
        <input type="radio" name="gen" value="m" {% if s.gender == 'm' %}checked{% endif %}>
        <label for="female">Female</label>
        <input type="radio" name="gen" value="f" {% if s.gender == 'f' %}checked{% endif %}>
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Qualification</label>
        <select name="quali" id="">
            {% for i in q %}
            {% if i.qualifiation == s.qualifiation %}
            <option value="{{i.qualifiation}} selected">{{i.qualifiation}}</option>
            {% else %}
            <option value="{{i.qualifiation}}">{{i.qualifiation}}</option>
            {% endif %}
            {% endfor %}
            
        </select>
        <br><br>
        <label for="" style="background-color: rgb(238, 82, 9);">Mobile NO</label>
        <input type="text" name="mob" value="{{s.mobileno}}">

        <br><br>

        <button type="submit" style="background-color: rgb(227, 235, 12);">Submit</button>
    </form>

</body>

</html>